<nav class="top-nav">
  <a class="nav-item" href='/'>Home</a>
  | <a class="nav-item" href='/tags'>Tags</a>
  | <a class="nav-item" href='/about'>About</a>
  | <a class="nav-item" href='/resume'>Resume</a>
  | <a class="nav-item" href="/feed.xml">RSS</a>
  | <a class="nav-item" href="https://github.com/spikeWong">Github</a>
  | <a class="nav-item" href="https://stackoverflow.com/users/13625298/spike-%e7%8e%8b%e5%bb%ba">Stackoverflow</a>
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#"></a>{% endif %}
</nav>
